/*Hero - Description - Photo - Badge - CV*/
.title {
  display: flex;
  flex-direction: column;

  .title-photo {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    // Définit le dégradé linéaire avec les couleurs souhaitées
    background-image: linear-gradient(to right, rgb(207, 70, 39), rgb(215, 70, 230));

    // Fait en sorte que le dégradé s'applique sur le texte
    -webkit-background-clip: text;
    background-clip: text;

    // Rend la couleur du texte transparente pour que le dégradé soit visible
    color: transparent;

    // Assurez-vous que le texte conserve un bon rendu même avec un fond
    -webkit-text-fill-color: transparent;
    font-size: 105px;
    margin: 0;
  }
}

.border {
  border: solid $gradient-primary 3px;
  width: 250px;
  height: 250px;
  border-radius: 150px;
}

.hero {
  padding: 20px;
  margin: 60px;
}

.p-photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.descript-me {
  display: flex;
  font-size: 20px;
  padding: 15px;
  width: 60%;
}
