/*Hero - Description - Photo - Badge - CV*/

.title-photo {
  display: flex;
  justify-content: space-between;
}

.style-name {
  // Définit le dégradé linéaire avec les couleurs souhaitées
  background-image: linear-gradient(to right, rgb(207, 70, 39), rgb(215, 70, 230));

  // Fait en sorte que le dégradé s'applique sur le texte
  -webkit-background-clip: text;
  background-clip: text;

  // Rend la couleur du texte transparente pour que le dégradé soit visible
  color: transparent;

  // Assurez-vous que le texte conserve un bon rendu même avec un fond
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: "Pacifico", cursive;
}

.border {
  border: solid $gradient-primary 3px;
  width: 250px;
  height: 250px;
  border-radius: 150px;
}

.hero {
  padding: 20px;
}

@mixin keyframes-rotation {
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

// Définition des keyframes
@mixin keyframes-rotation {
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.p-photo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;

  img {
    width: 300px;
    height: 300px;
    border-radius: 50%; // Pour un cercle parfait, utilisez 50%
    border: 1px solid white;
    object-fit: cover;
    @include keyframes-rotation;
    animation: rotation 0.9s cubic-bezier(0.03, 0, 0, 1.01) forwards; // Se joue une fois au chargement

    &:hover {
      @include keyframes-rotation;
      animation: rotation 0.9s cubic-bezier(0.03, 0, 0, 1.01) forwards; // Se réinitialise et joue au survol
    }
  }
}
.descript-me {
  display: flex;
  font-size: 20px;
  padding: 15px;
  width: 60%;
}

@media (max-width: 1025px) {
  .photo-container {
    .p-photo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .descript-me {
        width: 100%;
      }
    }
  }
}

@media (max-width: 365px) {
  .photo-container {
    .p-photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      .descript-me {
        width: 100%;
        font-size: 15px;
      }
    }
  }
}
