/* Header - NavBar */
.containernavbar {
  display: flex;
  justify-content: center;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;
  background: transparent;
  &.scrolled {
    background-color: rgb(59, 55, 55);
    display: flex;
    align-items: center;
    border: 2px rgb(255, 255, 255) solid;
    /* margin: -13px; */
    width: 432px;
    border-radius: 150px;
    justify-content: center;
    height: 50px;
    z-index: 3;
    margin-top: 15px;
  }
  li {
    --c: linear-gradient(to right, rgb(255, 136, 0), rgb(231, 77, 231)); // Mettez à jour la couleur ici

    padding-bottom: 0.5em;
    background: var(--c);
    background-size: 0% 0.1em; // Commencez sans soulignement visible
    background-position: bottom center; // Positionnez le gradient au bas du li
    background-repeat: no-repeat;
    transition: background-size 0.3s ease, background-position 0s; // Animer uniquement la taille du fond

    &:hover {
      background-size: 100% 0.1em; // Étendre le soulignement sur 100% de la largeur au survol
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin-top: 10px;
    padding: 15px;
    position: relative;
    align-items: center;
  }
}
