// Définition des variables pour les couleurs, tailles, etc.
$color-overlay-background: rgba(0, 0, 0, 0.5);
$color-modal-background: #fff;
$modal-max-width: 600px;
$modal-padding: 15px;
$modal-border-radius: 8px;
$overlay-z-index: 2;

// Mixin pour le bouton
@mixin button-styles {
  display: block;
  margin-top: 20px;
}

// Styles pour l'overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-overlay-background;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $overlay-z-index;
}

// Styles pour la modale
.modal {
  background-color: $color-modal-background;
  padding: $modal-padding;
  border-radius: $modal-border-radius;
  width: 50%;
  max-width: $modal-max-width;
  color: black;
}

// Styles pour l'image dans la modale
.modal img {
  max-width: 100%;
  margin-bottom: 20px;
}

// Styles pour le bouton de fermeture dans la modale
.container-close-button {
  display: flex;
  justify-content: flex-end;
}
.close-button {
  @include button-styles;
  background: none;
  border: none;
  img {
    right: -12px;
    width: 30px;
    position: relative;
    top: -30px;
  }
  &:hover {
    cursor: pointer;
  }
}
.icon-modal {
  img {
    width: 45px;
  }
}
