.aboutme {
  padding-top: 50px;
  .title-aboutme h2 {
    display: flex;
    width: 20%;
    justify-content: flex-end;
  }
  h2 {
    font-family: "Lemon/Milk", sans-serif;
    font-weight: 400;

    border-bottom: solid 4px;

    border-image: linear-gradient(45deg, rgb(207, 100, 154), rgb(242, 78, 30)) 1;
    width: 20%; // border-bottom: 3px solid;
  }
}

.skills {
  background: linear-gradient(90deg, rgba(207, 100, 154, 1) 0%, rgba(242, 78, 30, 1) 100%);
  padding: 50px 0 0 0;
  h2 {
    font-family: "Lemon/Milk", sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    border-bottom: solid rgb(247, 245, 245) 2px;
    border-top: solid rgb(245, 242, 242) 2px;
    padding-left: 50px;
  }
}
.Competences {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  h3 {
    font-family: "Lemon/Milk", sans-serif;
    font-weight: 400;
    border-bottom: solid white;
    padding: 5px;
    color: white;
  }
}
